<!-- total_amount_list.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Total Amounts by Transaction</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<div class="container mt-5">
    <h2>TOTAL AMOUNT</h2>
    <div class="container mt-5">
        <a href="{% url 'dashboard' %}" class="btn btn-primary">Dashboard</a>
        </div>

    <!-- Table to display total amounts -->
    <table class="table mt-3">
        <thead>
        <tr>
            <th>Transaction ID</th>
            <th>Total Amount</th>
        </tr>
        </thead>
        <tbody>
        {% for total_amount in total_amounts %}
            <tr>
                <td>{{ total_amount.transaction_id }}</td>
                <td>{{ total_amount.total_amount }}</td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="2">No total amounts calculated yet.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<!-- Bootstrap JS and Popper.js (required for Bootstrap components) -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
